
li .active{
    color : var( --color-primary-600);
}


.darkMode{
    background-color: #fff;
    transition: .5s ease;
}

.whiteMode{
    background-color: #0e0d0d;
    transition: .5s ease;
}

.Home{
    background-color: red;
}